html {
    scrollbar-gutter: stable;
    /*overflow: auto;*/

}

.margin {
    margin: .5em;
}

.page {
    margin-inline: auto;
    max-width: 45em;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    margin-top: 5px;


}


#inputContainer .btn {
    margin-top: 5px;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 10em;
}


/*#wordsInBible li {*/
/*    list-style-type: "🠺";*/
/*}*/

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

#another {
    padding-left: 0;
}

#wordsInBible em {
    padding-right: 1em;
}

#wordsInBible ul ul li {
    animation-name: fade_in;
    animation-duration: .5s;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

/*#results, #another {*/
/*    width: 100%;*/

/*}*/

/*#wordsInBible em {*/
/*    padding-right: 1em;*/
/*}*/


/*a {*/
/*    color: blue;*/
/*    cursor: pointer;*/
/*    text-decoration: underline;*/
/*}*/

/*!**/
/*By default, setting the hidden property does nothing*/
/*if the element is styled to use  flexbox.*/
/**!*/
/*[hidden] {*/
/*    display: none !important;*/
/*}*/